.Heading {
  color: #212b4eb9;
}
.form-container {
  width: 90%;
  margin: auto;

  color: white;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form-container h1 {
  font-weight: 500;
  font-size: 3.825rem;
}

.link-to-comments {
  width: 100%;
  background-color: white;
  box-shadow: var(--light-shadow);
  font-size: 1.825rem;
  font-weight: 600;
  /* padding: 20px; */
  border-radius: 10px;
  color: #212b4e8b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out all;
}
.link-to-comments .link-to {
  color: #212b4e8b;
  object-fit: cover;
}

.link-to-comments:hover,
.link-to-comments:hover .link-to {
  color: #212b4e;
}
.link-to-comment {
  width: 100%;
  background-color: white;

  font-size: 1.825rem;
  font-weight: 600;

  border-radius: 10px;
  color: #212b4e8b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s ease-in-out all;
  padding: 20px;
}
