.form-reviews {
  display: flex;

  /* align-items: center; */
  height: 60vh;
  /* gap: 50px; */
}

.input-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 0px 20px 5px #212b4e61;
  /* padding: 20px; */
  color: #212b4eb5;
  border-radius: 10px;
  height: fit-content;
  gap: 50px;
  width: 100%;
  grid-column: 1/6;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 50px 100px;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 50px;
  padding: 20px;
}

.submit-comment {
  font-size: 1.825rem;
  font-weight: 500;
  width: 100%;
  align-self: center;
  border: none;
  background-color: white;
  border-radius: 0;
  padding-block: 20px;
  color: #212b4e4d;
  font-weight: 600;
  position: relative;
  border-radius: 5px;
}
.submit-comment:hover {
  border: none;
  background-color: transparent;
}
.submit-comment::before {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  transition: 0.3s ease-in-out all;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px;
  border-radius: 10px;
}
.submit-comment:hover::before {
  width: 100%;
}

.inputs input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.445rem;
}
.inputs textarea {
  width: 100%;
  border-radius: 10px;
  height: 60%;
  font-size: 1.125rem;
  padding: 10px;
  grid-row: 3;
}
.input-heading {
  width: 50%;
  padding: 20px;
}

.filter-container {
  background-color: white;
  box-shadow: 0px 0px 20px 5px #212b4e61;
  height: 100%;
  color: #212b4ea3;
  /* grid-column: 5; */
  border-radius: 10px;
}

.comments-filter {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 10px;
}

.filter-heading {
  font-size: 1.825rem;
  text-align: center;
  width: 100%;
  border-bottom: 2px solid #212b4e61;
  padding: 10px;
}
.comments-filter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
}

.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.425rem;
}
.selector select {
  width: 50%;
  padding: 20px;
  font-size: 1.125rem;
  border-radius: 10px;
}

input,
textarea {
  border: none;
  border-bottom: 2px solid #212b4e;
  border-radius: 0% !important;
  transition: 0.3s ease-in-out;
}

input:focus,
textarea:focus {
  outline: none;
}

.form-container-inputs {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}

.form-reviews {
  width: fit-content;
}

.radio-form {
  width: 30%;
}
