.main-content h1 {
  font-size: 55px;
  color: white;
}
.main-content h2 {
  font-size: var(--h2-font-size);
  color: var(--text-color);
}
.bg-content {
  background-image: url(./images/Background.png);
  background-color: #212b4e;
  background-blend-mode: overlay;
  height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  align-items: flex-start;
  /* padding: 7rem; */
  margin-bottom: 50px;
  justify-content: center;
  background-attachment: fixed;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  transform: translateY(50px);
  padding-left: 7rem;
}

.headers {
  transform: translateX(-20px);
  opacity: 0;
  animation: slide-right 700ms ease-in-out forwards;
}

@keyframes slide-right {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
  }
}
